@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
}

.timeline-item-content {
    box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.5);
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: right;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.timeline-item-content::after {
    content: ' ';
    background-color: #fff;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
    text-align: left;
    align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
    left: auto;
    right: 5px;
}

.timeline-item-content time {
    color: #777;
    font-size: 12px;
    font-weight: bold;
}

.timeline-item-content p {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
    max-width: 250px;
    text-transform: uppercase;
    font-weight: bold;
    color: #20285E;
}

.message {
  font-family: "Poppins", "Sans-Serif";
  margin-bottom: 10px;
}

.timeline-item-content a {
    font-size: 14px;
    text-decoration: none;
    color: white;
    background:#52688F;
    padding: 10px;
    border-radius: 23%;
    border: none;
    font-weight: bold;
}

.timeline-item-content a:hover {
    color: #263562;
    background: #fff;
    border: 1px solid #263562;
}

.timeline-item-content a::after {
    font-size: 12px;
    background: ;
}

.timeline-item-content .circle {
    background-color: #52688F;
    border: 3px solid #52688F;
    border-radius: 10px;
    position: absolute;
    top: calc(50% - 10px);
   right: -120px;
    width: 70px;
    height: 40px;
    z-index: 100;
    padding: 0px 10px;
    color: white;
    font-size: 0.9rem;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -120px;
    font-size: 0.9rem;
}

media only screen and (max-width: 1023px) {
    .timeline-item-content {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .timeline-item-content,
    .timeline-item:nth-child(odd) .timeline-item-content {
        padding: 15px 10px;
        text-align: center;
        align-items: center;
    }

    .timeline-item-content .tag {
        width: calc(100% - 10px);
        text-align: center;
    }

    .timeline-item-content time {
        margin-top: 20px;
    }

    .timeline-item-content a {
        text-decoration: none;
    }

    .timeline-item-content a::after {
        display: none;
    }
}