@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
}

.timeline-container::after {
    background-color:#7391C8;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 8px;
    height: 100%;
}

.TimelineHeader {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}